.question{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: azure;
    max-width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.questionflex{
    display: flex;
    gap: 1rem;
    width: 70%;
    flex-direction: column;
    user-select: none;
}
.questionsimg img{
    width: 20rem;
}
.win{
    max-width: 35rem;
    height: 50vh;
    margin: auto;
}
@media only screen and (max-width:500px){
    .win {
          margin-top: 5rem;
        }
}