#lines{
    position: absolute;
    z-index: -5;
   width: 20rem;
   top: 35%;
   left: -5rem;
}
#lines1{
    position: absolute;
    z-index: -5;
    width: 20rem;
    transform: scaleX(-1);
    top:35%;
    right: -5rem;
}
span{
    display: inline-block;
}
.hero_section{
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    background: none;
}
@media only screen and (min-width:1000px){
    #lines,#lines1{
        top:30%;
        width: 30rem;
    }
}
@media only screen and (min-width:1200px){
         #lines,
         #lines1 {
             top: 18%;
             width: 40rem;
         }
}
.heading{
    display: block;
    font-size: 2.3rem;
    color:#fff;
    letter-spacing: 1px;
    line-height: 5rem;
    margin-top: -5rem;
    z-index: 10;
    font-weight: 500;
    text-shadow: 3px 3px 2px rgba(128, 11, 81, 1), 7px 3px 7px rgba(128, 22, 107, 1), 0px 5px 24px rgba(128, 15, 124, 1);
}
.nit{
    display: block;
    font-size: 2rem;
    color: white;
    z-index: 10;
    text-shadow: 3px 3px 2px rgba(128, 11, 81, 1), 7px 3px 7px rgba(128, 22, 107, 1), 0px 5px 24px rgba(128, 15, 124, 1);
}
@media only screen and (max-width:860px){
    .heading{
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        line-height: 5rem;
    }
    .nit{
        font-size: 1.3rem;
    }
    .hero_section{
        padding: 1rem;
    }
}
@media only screen and (max-width:700px) {
    .heading {
        font-size: 1.3rem;
        letter-spacing: 1px;
        line-height: 5rem;
    }

    .nit {
        font-size: 1.2rem;
    }

    .hero_section {
        padding: 1rem;
    }
}
@media only screen and (max-width:500px) {
    .heading {
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 5rem;
    }
    .nit {
        font-size: 1.2rem;
    }
    .hero_section {
        padding: 1rem;
    }
}
@media only screen and (max-width:400px) {
    .heading {
        font-size: .8rem;
        letter-spacing: 1px;
        line-height: 5rem;
    }
         .nit {
             font-size: 1rem;
         }
}
#poly1{
    position: absolute;
    display: block;
    width: 180px;
    top: 10%;
    height: 150px;
    z-index: 2;
}
#poly2{
    position: absolute;
    bottom: 0;
    left: 20%;
    display: block;
     width: 90px;
    height: 76px;
    z-index: 1;
}
#poly3{
    position: absolute;
    display: block;
    width: 180px;
    height: 150px;
    top: 0;
    right: 10%;
    z-index: 5;
}
.message_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sliders{
    margin-top: 5rem;
    margin-inline: 2rem;
    display: block;
    text-align: center;
    color: white;
}
#img2s{
    display: block;
    height: 150px;
    width:150px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin: 2rem;
}
.mess ,.about_mess{
    max-width: 1080px;
    line-height: 30px;
    z-index: 10;
}
.about_mess{
    margin-top: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 2px;
}
.about_us{
    position: relative;
    margin-top: 5rem;
    margin-inline: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.about_us>h2{
    z-index: 10;
}
.annual{
    margin-top: 5rem;
    margin-inline: 2rem;
    display: block;
    text-align: center;
    color: white;
}
/* ///////card css (specter wala)///// */
.card_container{
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-inline: auto;
    padding: .5rem;
    height: 30rem;
    width: 20rem;
    background: radial-gradient(148.14% 148.03% at -37.65% -24.08%, #3D006D 0%, rgba(77, 0, 138, 0) 100%);
    text-align: center;
    border-radius: 5rem;
}
@media only screen and (max-width:400px){
    .card_container{
        width: 17rem;
        height: 31rem;
        padding: .3rem;
        border-radius: 2rem;
    }
    .card_container>p{
        font-size: 1rem;
    }
}
.card_container>p{
    color:whitesmoke;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.2rem;
}
#imgS1{
    height:10rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.messs{
    z-index: 10;
    text-align: center;
    display: block;
    margin-top:2rem ;
    max-width: 100%;
    color: rgb(5, 4, 4);
}

/* ///////// */
.gallery_container{
         margin-top: 5rem;
         margin-bottom: 2rem;
        margin-inline: 2rem;
        display: block;
        text-align: center;
        color: white;
    }
 .button1{
    display: block;
    margin-top: 3rem;
    margin-inline: auto;
    max-width: 8rem;
    outline: none;
    border: none;
    background:transparent;
    color: #fff;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;
 }   
 .button1:hover {
     background-color: #9900ff;
     border: 1px solid #9900ff;
 }