
.Glimpses{
    color: rgb(240, 236, 236); 
    font-family: Poppins, sans-serif;
    font-size: 2.2rem;
}

.card{
    width: 6em;
    border-radius: 15%;
}

.card-img-top{
    border-radius: 15%;
    width: 24em;
    height: 19em;
    object-fit: cover;
}

.Big_Div{
    justify-content: center;
    text-align: center;
}

.flex_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.2em;
}

.smallDiv{
    width: 24em;
    height: 19em;    
}