@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.specContainer{
    margin: 2rem;
}
.specName{
    font-size: 6em;
    font-family: 'Lobster', cursive;
    position: relative;
    display: flex;
    letter-spacing: 10px;
    justify-content: center;
    color:white;
    margin: 5rem;
    font-weight: bolder;
}

